# Expo/Node
node_modules/
.expo/
dist/
npm-debug.*
yarn-error.*

# Proyectos de Expo (Prebuild)
android/
ios/
# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle
